body {
    background-color:red;
    background-image: url("https://lonelyplanetstatic.imgix.net/op-video-sync/images/production/p-5541832440001-brightcove-introducing-japan-20170922-054806.jpg");
}
li {
    font-family: 'Mali', cursive;
    font-size:30px;
}
ul {
    list-style-type: upper-roman;
     background-color:red;
}
p {
    font-size:25px;
    background-color:red;
}
img {
    border-radius:200px;
    border:dashed;
}
h2 {
    color:white;
    opacity: 500;
}